<script setup>
import {Slide, RevealCode} from 'vuetify-reveal'
</script>

<template>
  <Slide>
    <h3>Qu'est ce redis ?</h3>
    <v-row>
      <v-col offset="3" cols="6">
        <v-img src="https://grafikart.fr/uploads/icons/redis.svg" max-width="500px"/>
      </v-col>
    </v-row>
  </Slide>
  <Slide>
    <v-row>
      <v-col>
        <h3>Base de donnee NoSQL</h3>
      </v-col>
    </v-row>

    <div class="text-left">
      <v-row>
        <v-col offset="3">
          <ul class="text-teal">
            <li class="fragment">Prototypage rapide</li>
            <li class="fragment">Code driven developpement</li>
            <li class="fragment">Toughput de requetes</li>
          </ul>
        </v-col>
      </v-row>
      <v-row>
        <v-col offset="3">
          <ul class="text-red">
            <li class="fragment">Pas de schema de donnee</li>
            <li class="fragment">Code driven validation</li>
            <li class="fragment">pas de vues / hook</li>
          </ul>
        </v-col>
      </v-row>
    </div>
  </Slide>
  <Slide>
    <v-row>
      <v-col>
        <h3>En RAM</h3>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <ul class="text-teal">
          <li class="fragment">Ultrafast</li>
        </ul>
      </v-col>
      <v-col cols="5" class="fragment">
        <ul class="text-red">
          <li>Cher</li>
        </ul>
        <v-img src="https://cgfrog.com/wp-content/uploads/2016/07/im-not-gonna-kill-you-im-gonna-hurt-you-really-bad-chrome-ram-memory.jpg"/>
      </v-col>
    </v-row>
  </Slide>
  <Slide>
    <v-row>
      <v-col>
        <h3>Batteries included</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <ul>
          <li class="fragment">simple a installer <RevealCode :code="`apt install redis`"/></li>
          <li class="fragment">aussi simple a configurer</li>
          <li class="fragment">bonne doc</li>
          <li class="fragment">expiration de cles</li>
          <li class="fragment">Pub/Sub</li>
          <li class="fragment text-red-accent-2">Module de recherche textuelle / stockage JSON</li>
          <li class="fragment text-red-accent-2">Module de recherche probabiliste</li>
        </ul>
      </v-col>
    </v-row>
  </Slide>
</template>

<style scoped>

</style>
