<script setup>

import {Slide, RevealCode} from "vuetify-reveal";
</script>

<template>
<Slide>
  <v-row>
    <v-col>
      <h3>Base de donnee cle / valeur</h3>
    </v-col>
  </v-row>
  <v-row>
    <v-col>
      <RevealCode :code="`
        0) ingredient
          0) name
          1) patate
          2) ...
      `"/>
    </v-col>
  </v-row>
</Slide>
  <Slide>
    Redis
    <RevealCode :code="`hset ingredient:1 name patate ...`"/>
    Python
    <RevealCode :code="`redis.hset('ingredient:1', name='patate', ...)`"/>
    <RevealCode :code="`redis.hset('ingredient:1', mapping={'name': 'patate', ...})`"/>
  </Slide>
</template>

<style scoped>

</style>
