<script setup>
import {useQuery, gql} from "@urql/vue";
import {Slide} from "vuetify-reveal";
import {computed, reactive} from "vue";

const ingredients = useQuery({
  query: gql`{
    ingredients {
      id
      name
      weight
      price
      cookTime
      type
    }
  }`
})

const orders = useQuery({
  query: gql`{
    orders {
      id
      cookTime
      weight
      isReady
      price
      username
    }
  }`
})

const state = reactive({
  base: undefined,
  topping: undefined,
  sauce: undefined,
  username: undefined,

  isValid: computed(() => {
    return Boolean(this.base && this.topping && this.sauce && this.username)
  })
})
</script>

<template>
  <Slide>
    <h3>Ajouter des trucs</h3>
    <v-row v-if="ingredients.data.value">
      <v-col cols="4">
        <v-select item-title="name" item-value="id" label="base"
                  :items="ingredients.data.value.ingredients.filter((ingredient) => ingredient.type === 'BASE')"/>
      </v-col>
      <v-col cols="4">
        <v-select item-title="name" item-value="id" label="topping"
                  :items="ingredients.data.value.ingredients.filter((ingredient) => ingredient.type === 'TOPPING')"/>
      </v-col>
      <v-col cols="4">
        <v-select item-title="name" item-value="id" label="sauce"
                  :items="ingredients.data.value.ingredients.filter((ingredient) => ingredient.type === 'SAUCE')"/>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <v-text-field label="nom"/>
      </v-col>
      <v-col>
        <v-btn :disabled="!state.isValid">nouvelle commande</v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-table v-if="orders.data.value" style="font-size: 0.6em" height="30vh">
          <thead>
          <tr>
            <th>name</th>
            <th>weight</th>
            <th>price</th>
            <th>cook_time</th>
            <th>type</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="ingredient of []">
<!--            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.weight }}</td>
            <td>{{ ingredient.price }}</td>
            <td>{{ ingredient.cookTime }}</td>
            <td>{{ ingredient.type }}</td>-->
          </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>

  </Slide>
</template>

<style scoped>

</style>
