<script setup>
import {useQuery} from "@urql/vue";
import {gql} from '@urql/core'
import {RevealCode} from 'vuetify-reveal'
import {computed} from "vue";

const result = useQuery({
  query: gql`{
    ingredients {
      id
      name
      weight
      price
      cookTime
      type
    }
  }`
})

const sorted = computed(() => {
  if (result.data.value) {
    return result.data.value.ingredients.sort((a, b) => {
      if (a.type < b.type) {
        return -1;
      }
      if (a.type > b.type) {
        return 1;
      }

      // names must be equal
      return 0;
    })
  }
})

const redisCode = `scan 0 match 'pizza_redis:Ingredient:*' count 1000
hgetall pizza_redis:Ingredient:b71cc8e7-02a7-4165-95b7-9976d368ff3b:
`
const pythonCode = `_, keys = redis.scan(
    match="pizza_redis:Ingredient:*:",
    count=1000
  )
for key in keys:
  raw_ingredient: dict = redis.hgetall(key)
`
</script>
<template>
  <v-container >
    <h3>Collections de cles</h3>
    <v-row>
      <v-col cols="12">
        <RevealCode :code="redisCode" data-line-numbers="1|2">
        </RevealCode>
        <RevealCode :code="pythonCode" data-line-numbers="1-4|5-6">
        </RevealCode>
      </v-col>
      <v-col cols="12">
        <v-table v-if="result.data.value" style="font-size: 0.6em" height="30vh">
          <thead>
          <tr>
            <th>name</th>
            <th>weight</th>
            <th>price</th>
            <th>cook_time</th>
            <th>type</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="ingredient of sorted">
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.weight }}</td>
            <td>{{ ingredient.price }}</td>
            <td>{{ ingredient.cookTime }}</td>
            <td>{{ ingredient.type }}</td>
          </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
