<template>
  <v-app theme="dark">
    <v-main>
      <Deck>
        <Slide>
          <RedisIndex/>
        </Slide>
        <Slide>
          <KeyValueIndex/>
        </Slide>
        <Slide>
          <KeyCollection/>
        </Slide>
        <Slide>
          <PushKeyIndex/>
        </Slide>
      </Deck>
    </v-main>
  </v-app>
</template>

<script setup>
import {Deck, Slide} from "vuetify-reveal";
import {Client, cacheExchange, fetchExchange, provideClient, useQuery, subscriptionExchange} from '@urql/vue';
import {gql} from '@urql/core'
import RedisIndex from "@/components/redis/RedisIndex.vue";
import KeyCollection from "@/components/keyCollection.vue";
import * as wsClient from "graphql/execution";
import KeyValueIndex from "@/components/keyValue/keyValueIndex.vue";
import PushKeyIndex from "@/components/pushKey/pushKeyIndex.vue";

const client = new Client({
  url: 'http://localhost:8000/graphql',
  exchanges: [cacheExchange, fetchExchange, subscriptionExchange({
    forwardSubscription(request) {
      const input = { ...request, query: request.query || '' };
      return {
        subscribe(sink) {
          const unsubscribe = wsClient.subscribe(input, sink);
          return { unsubscribe };
        },
      };
    },
  }),],
});

provideClient(client)
</script>
